config/
data.db
instabot/__pycache__/
instabot/bot/__pycache__/
instabot/bot/state/__pycache__/
instabot/api/__pycache__/
followers.txt
data.db
config/icaroparanhos_.checkpoint
.gitignore
config/icaroparanhos__uuid_and_cookie.json
